<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @document.folio %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @document.document_type_id %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @document.expense_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @document.supplier_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
